@model Mockbuster.ViewModels.IndexMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count() == 0)
{
    <text>No movies exist yet</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td><b>Title</b></td>
                <td><b>Genre</b></td>
            </tr>
        </thead>

        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre</td>
            </tr>
        }
    </table>
}

