<appSettings>
  <add key ="MailServer" value="dev-smtp.mockbuster.com"/>
  <add key ="FacebookAppId" value="750817649133675"/>
  <add key ="FacebookAppSecret" value="6a15eab4bbb62f134862de59c7a3db87"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>