@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mockbuster</h1>
    <p class="lead">My test application following a course from CodeWithMosh building a mock video rental service.</p>
    <p><a class="btn btn-outline-danger btn-lg">DO NOT CLICK ME</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First testy bit</h2>
        <p>
           Some things I have to say here.
        </p>
        <p><a class="btn btn-default" href="https://edpacca.github.io" target="_blank"> My Portfolio Page &raquo;</a></p>
    </div>
</div>